:root{--size:200px}

#clock{
  width:var(--size);
    height:var(--size);
background:#ccc;
border:5px solid #0000;
border-radius: 50%;
box-shadow: 0 0 10px 0 black;
position:relative;
margin: auto;
}


.num{
  height:100%;
  position: absolute;
  left:42%
}

.num div{
  width:1em;
  line-height:2em;
  color:brown;
  text-align:center;
  vertical-align: middle;

}

.num1{
  transform: rotate(30deg);
}

.num1 div{
  transform: rotate(-30deg);
}

.num2{
  transform: rotate(60deg);
}

.num2 div{
  transform: rotate(-60deg);
}

.num3{
  transform: rotate(90deg);
}

.num3 div{
  transform: rotate(-90deg);
}

.num4{
  transform: rotate(120deg);
}

.num4 div{
  transform: rotate(-120deg);
}

.num5{
  transform: rotate(150deg);
}

.num5 div{
  transform: rotate(-150deg);
}

.num6{
  transform: rotate(180deg);
}

.num6 div{
  transform: rotate(-180deg);
}

.num7{
  transform: rotate(210deg);
}

.num7 div{
  transform: rotate(-210deg);
}

.num8{
  transform: rotate(240deg);
}

.num8 div{
  transform: rotate(-240deg);
}

.num9{
  transform: rotate(270deg);
}

.num9 div{
  transform: rotate(-270deg);
}

.num10{
  transform: rotate(300deg);
}

.num10 div{
  transform: rotate(-300deg);
}

.num11{
  transform: rotate(330deg);
}

.num11 div{
  transform: rotate(-330deg);
}


#sec-hand{
  width:1px;
  height:50%;
  background: black;
  position: absolute;
  transform-origin:bottom;
  top: 0%;
  left:47.5%;
}




#min-hand{
  width:3px;
  height:40%;
  background: red;
  position: absolute;
  transform-origin:bottom;
  top: 12%;
  left:47.5%;
}



#hr-hand{
  width: 7px;
  height:30%;
  background: #23a2a9;
  position: absolute;
  transform-origin:bottom;
  top: 22%;
  left: 46.5%;
}




.circle{
  width: 12pt;
  height: 12pt;
  position: absolute;
  top: 70pt;
  left: 66pt;
  background: #4677ff;
  border-radius: 50%;
}
